{% extends "layout.html"%}

{% block body%}
<section>
    <div>
        {% for bil in biler %}
        <div id="biler">
            <h2>{{bil.film}}</h2>
            <img src="../../static/img/{{bil.bilde}}" alt="">
            <p>Utgivelsesår: {{bil.filmår}}</p>
            <p>Primær farge: {{bil.primær}}</p>
            <p>Sekundær farge: {{bil.sekundær}}</p>
            <p>Bilmerke: {{bil.merke}}</p>
            <p>Modell: {{bil.modell}}</p>
            <div class="container">
                <iframe class="video" src="https://www.youtube.com/embed/{{bil.video}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        {% endfor %}
</section>

{% endblock %}