{% extends "layout.html"%}

{% block body%}
    <div>
        {% for bil in biler %}
        <div id="biler">
            <h2>{{bil.film}}</h2>
            <img src="../../static/img/{{bil.bilde}}" alt="">
            <p>Utgivelsesår: {{biler.filmår}}</p>
            <p>Primær farge: {{biler.primær}}</p>
            <p>Sekundær farge: {{biler.sekundær}}</p>
            <p>Bilmerke: {{biler.merke}}</p>
            <p>Modell: {{biler.modell}}</p>
        </div>
        {% endfor %}


{% endblock %}