{% extends "layout.html"%}

{% block body%}


<section>
    <img src="static/img/banner.png" id="banner">
    <hr>
    <div id="klasse">
        <h2>Siste lagt til</h2>
    </div>
    <div id="grid">
        {%for bil in biler%}
        <a href="/liste/enkel/{{bil.id}}">
        <div class="gridbox">
            <img src="../static/img/{{bil.bilde}}">
            <h2>{{bil.film}}</h2>
            <p>Utgivelsesår: {{bil.filmår}}</p>
            <p>Primær farge: {{bil.primær}}</p>
            <p>Sekundær farge: {{bil.sekundær}}</p>
            <p>Bilmerke: {{bil.merke}}</p>
            <p>Modell: {{bil.modell}}</p>
        </div>
        </a>
        {%endfor%}
    </div>
    <br>
</section>


{% endblock %}