{% extends "layout.html"%}

{% block body%}


<section>
    <img src="static/img/banner.png" id="banner">
    <hr>
    <div id="klasse">
        <h2>Siste lagt til</h2>
    </div>
    <div id="grid2">
        {%for bil in biler%}
        <a href="/liste/enkel/{{bil.id}}">
        <div class="gridbox">
            <img src="../static/img/{{bil.bilde}}">
            <h2>{{bil.film}}</h2>
            <p><i class="fas fa-film"></i> Utgivelsesår: {{bil.filmår}}</p>
            <p><i class="fas fa-car"></i> Bilmerke: {{bil.merke}}</p>
            <p><i class="fas fa-tint"></i> Primærfarge: {{bil.primær}}</p>
        </div>
        </a>
        {%endfor%}
    </div>
    <br>
</section>


{% endblock %}