{% extends "layout.html"%}

{% block body%}


<section>
    <img src="static/img/banner.png" id="banner">
    <hr>
    <h2>Siste lagt til</h2>
    <div id="wrapper">
        {%for bil in biler%}
        <div class="gridbox">
            <img src="../static/img/{{bil.bilde}}">
            <h3>{{biler.film}}</h3>
            <p>Utgivelsesår: {{bil.filmår}}</p>
            <p>Primær farge: {{bil.primær}}</p>
            <p>Sekundær farge: {{bil.sekundær}}</p>
            <p>Bilmerke: {{bil.merke}}</p>
            <p>Modell: {{bil.modell}}</p>
        </div>
        {%endfor%}
    </div>
    <br>
</section>


{% endblock %}