<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film Biler!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <header>
        <div id="logo">
            <img src="{{ url_for('static', filename='/img/logo.png') }}" alt="">
        </div>
        <nav>
            <a href="/">Hjem</a>
            <a href="/biler">Biler</a>
            <a href="/om">Om oss</a>
        </nav>
    </header>
    {% block body %}{% endblock %}
    <footer>
        <h3>Kontaktinfo:</h3>
        <div>
            <a href="mailto:benber07@o365.mrvgs.no">benber07@o365.mrvgs.no</a>
            <p>Tlf:12345678</p>
        </div>
    </footer>
</body>
</html>