{% extends "layout.html"%}

{% block body%}
<div id="over">
    <h1>Kjente biler fra filmer og TV</h1>
</div>
<div id="row">
    <h2>Sorter etter:</h2>
    <a href="/liste/film"><h2>Film</h2></a>
    <a href="/liste/filmår"><h2>Filmår</h2></a>
    <a href="/liste/merke"><h2>Merke</h2></a>
</div>
<div id="grid">
    {% for biler in biler %}
    <a href="enkel/{{biler.id}}">
        <div class="gridbox">
            <img src="../static/img/{{biler.bilde}}" alt="">
            <h3>{{biler.film}}</h3>
            <p><i class="fas fa-film"></i> Utgivelsesår: {{biler.filmår}}</p>
            <p><i class="fas fa-car"></i> Bilmerke: {{biler.merke}}</p>
            <p><i class="fas fa-tint"></i> Primærfarge: {{biler.primær}}</p>
        </div>
    </a>
    {% endfor %}
    <br>
</div>


{% endblock %}