{% extends "layout.html"%}

{% block body%}
<div id="over">
    <h1>Kjente biler fra filmer og TV</h1>
</div>
<div id="grid">
    {% for biler in biler %}
    <a href="enkel/{{biler.id}}">
        <div class="gridbox">
            <img src="../static/img/{{biler.bilde}}" alt="">
            <h3>{{biler.film}}</h3>
            <p>Utgivelsesår: {{biler.filmår}}</p>
            <p>Primær farge: {{biler.primær}}</p>
            <p>Sekundær farge: {{biler.sekundær}}</p>
            <p>Bilmerke: {{biler.merke}}</p>
            <p>Modell: {{biler.modell}}</p>
        </div>
    </a>
    {% endfor %}
    <br>
</div>


{% endblock %}