{% extends "layout.html"%}

{% block body%}
<div id="info">
    <img src="../static/img/ombanner2.jpg" alt="">
    <h2>Om oss</h2>
    <p>Movie Cars tar deg inn i filmskapernes verden med usedvanlige biler i alle farger og fasonger.
     Vår virksomhet ble satt igang i 2012 ved hjelp av en rekke samarbeidspartnere og sponsorer som ville støtte vårt prosjekt. 
     De siste årene har interessen for Movie Cars vokst betraktelig, og nå har vi over 10 000 lesere hver dag. 
     Kommentarfeltet er overfylt med tilbakemeldinger om at nettsiden engasjerer og vekker tilbake barndomsminner. 
     Vi er overbegeistret over deres engasjement og håper at dette fortsatt kan være en plattform hvor man kan dyrke interessen for bil og skape 
     gode samtaler. 
</div>

{% endblock %}