@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-color:   #ce97fb;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 5px;
  background-color: #ce97fb;
}

footer {
  background-color: #ce97fb;
}

#farge {
  background-color: #ac47ff;
}

#box {
  margin-left: 100px;
  margin-right: 100px;
}

nav {
  display: flex;
  flex-direction: row;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin-right: 20px;
  border-bottom: 1px solid transparent;
}

#banner {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: bottom;
  color: white;
  height: 675px;
  display: grid;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
  font-size: xx-large;
}

#banner-text {
  text-align: center;
  text-size-adjust: 200px;
  margin-bottom: 500px;
  text-transform: uppercase;
}
