@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-color: #ce97fb;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 5px;
  background-color: #ce97fb;
}

footer {
  margin-top: 42px;
  padding: 10px;
  text-align: center;
  margin-bottom: 32px;
  background-color: rgb(86, 73, 122);
  border-radius: 20px;
  margin-right: 50px;
  margin-left: 50px;
}

#farge {
  background-color: #ac47ff;
}

#box {
  margin-left: 100px;
  margin-right: 100px;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
}

.gridbox {
  border: solid black 2px;
  background-color: #ce97fb;
}

.gridbox img {
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
nav a {
  color: rgb(78, 30, 117);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  padding: 0;
  margin-right: 60px;
  margin-top: 40px;
  border-bottom: 1px solid transparent;
}

#banner {
  width: 100%;
}

#info p {
  font-size: 23px;
  line-height: 37px;
  padding: 30px;
  background-color: rgba(174, 170, 177, 0.062);
}

#info {
  padding: 60px;
}

#info img {
  height: 570px;
  display: grid;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}
